/* src/components/Layout.module.css */
.layout {
  display: flex;
}

.mainContent {
  margin-left: 220px; /* same as sidebar width */
  width: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContent {
  padding: 20px;
  flex: 1;
}
